
a{
	text-decoration: none;
}
img{
display: block;
}
body{
background-color: #e3e4e9;
/*height: 9999px;*/
}
/*头部*/
.home .header{
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	background-color: #4e4e4e;
	display: flex;
	justify-content: center;
}
.home .header ul{
	width: 90%;
	display: flex;
	justify-content: space-between;
}
.home .header .icon{	
	height: 1.2rem; 
	line-height: 1.2rem;
	margin-top: 0.3rem;
}

.home .header .logoH img{
	width: 1.01rem;
	height: 100%;
}
.home .header>ul img{
	height: 0.53rem;
	width: 0.53rem;
}

/*轮播图样式*/
 .swiper-container{
        /*width: 100%;*/
        height: 5.78rem;
    }
.swiper-slide{
        text-align: center;
        font-size: 18px;
        background: #fff;
   		width: 100%;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
 .swiper-slide img{
 	width: 100%;
 } 

/*精品旅游*/
.home .travel{
	margin-top: 0.43rem;
	width: 100%;
}
.travel li{
	position: relative;
}
.home h1{
	height:1.57rem ;
	line-height: 1.57rem;
	font-size: 0.53rem;
	text-align: center;
	background-color: white;
}
.mainTravel img{
	width: 100%;
	height: 5.86rem;
}
.travelText{
	position: absolute;
	top: 2.24rem;
	left: 3.09rem;
	display: flex;
	flex-flow: column;
	height: 1.44rem;
	z-index: 9;	
}
.travelText a{
	font-size: 20px;
	color: white;	
}
.travel p{
	font-size: 14px;
	color: white;
	margin-top:0.5rem ;
}
/*热门目的地*/
.home .hotTraval{
	margin-top: 0.43rem;
	width: 100%;
	position: relative;
	background-color: white;
	height: 10.98rem;

	
}
.home .hotTraval ul{
	width: 100%;
	display: flex;
	display: flex;
	flex-wrap: wrap ;
	text-align: center;
	justify-content: space-around;
	padding: 0.2rem;
	
}
.home .hotTraval ul>li{
    display: flex;
    width: 33%;
    flex-direction: column;  
}
.hotTraval ul>li img{
   width: 87%;
   height: 2.77rem; 
}
.hotTraval span{
	position: absolute;
	right: 0.2rem;
	top: 0.7rem;
	font-size: 0.27rem;
}
.hotTraval ul>li h3{
    font-weight: normal;
    font-size: 0.27rem;
    padding-top:14px ;
    padding-bottom:24px ;
}
/*顶级度假-----和精品旅行一样*/
/*4s产品体验*/
.productTry{
	background-color:white;
	height: 12.05rem;
}
.productTry ul{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 0.3rem;
}
.productTry ul li{
	width: 50%;
	text-align: center;	
	padding-bottom: 0.4rem;
}
/*私人订制*/
.PerTailor{
margin-top: 0.43rem;
background-color: white;

}
.PerTailor label{
	position: absolute;
	padding-left: 12px;
	padding-top: 12px;
}
.PerTailor form{
padding-left: 0.2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.PerTailor .perBox{
	width: 40%;
	padding-bottom: 0.53rem;
}
.PerTailor .perBox input{
	width: 80%;
	border-radius: 5px;
	border: none;
	height: 40px;
	border: 1px solid #ccc;
	padding-left: 0.64rem;
}
.PerTailor .put{
	height: 1.07rem;
	width: 4.8rem;
	background-color: #0853b9;
	margin-left: 2.85rem;
	margin-bottom: 1.2rem;
	margin-top: 1rem;
	color: white;
}
/*页脚*/
.footer{
	width: 100%;
	height: 5.15rem;
	background-color: #4e4e4e;
	display: flex;
	justify-content: center;
}
.footer ul{
	margin-top: 1rem;
	width: 50%;
	display: flex;
	justify-content: space-between;
}
.footer ul>li{
	width: 33%;
	font-size: 0.37rem;
}

.footer ul>li>a{
   color: white;
   font-weight: bolder;
}

