@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}

body{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

a{
	text-decoration: none;
}

ul,li{
	list-style: none;
}

#footer{
	position: fixed;
	left: 0;
	bottom: 0;
	height: 1.33rem;
	line-height: 1.33rem;
	background-color: #fafaf8;
	font-size: 0.37rem;
	width: 100%;
}

#footer ul{
	display: flex;
	justify-content: space-around;
}
#footer ul li{
	width: 25%;
	display: block;
	line-height: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	
}
#footer li a{
	display: flex;
	flex-direction: column;
}
#footer li img{
	display: inline-block;
	width: 22px;
	height: 20px;
	margin-bottom: 0.186667rem;
	margin-top: 0.186667rem;
}
#footer li span{
	font-size:0.373333rem;
	color: #000100;
}

/* footer不隐藏时候的样式 */
.class1{
	/*background-color: yellow;*/
	/* calc运算函数 */
	height: calc(100% - 1.33rem);
}

/* footer隐藏时候的样式 */
.class2{
	background-color: #f7f8fa;
	height: 100%;

}
