<div class="order">
	<div class="header">
		<ul>
		<li class="icon"><img src="./imgs/tel.png" alt="电话" /></li>
		<li class="logoH"><img src="./imgs/logo (1).jpg"/ alt="logo" ></li>
		<li class="icon"><img src="./imgs/nav.png" alt="导航栏" /></li>
		</ul>
	</div>
	<div class="banner">
		<a href="#"><img src="http://www.dearisland.com/images/m/banner_8.jpg" alt="banner" /></a>
	</div>
	<!--导航-->
	<div class="orderNav">
		<ul>
			<li>
			<a href="#">
			<img src="http://www.dearisland.com/images/m/ava_1.png" alt="navIcon" />
			<span>亲测靠谱</span>
			</a>
			</li>
			<li>
			<a href="#">
			<img src="http://www.dearisland.com/images/m/ava_2.png" alt="navIcon" />
			<span>亲测靠谱</span>
			</a>
			</li>
			<li>
			<a href="#">
			<img src="http://www.dearisland.com/images/m/ava_3.png" alt="navIcon" />
			<span>亲测靠谱</span>
			</a>
			</li>
			<li>
			<a href="#">
			<img src="http://www.dearisland.com/images/m/ava_4.png" alt="navIcon" />
			<span>亲测靠谱</span>
			</a>
			</li>
			<li>
			<a href="#">
			<img src="http://www.dearisland.com/images/m/ava_5.png" alt="navIcon" />
			<span>亲测靠谱</span>
			</a>
			</li>
		</ul>
	</div>
	
	<!--订制旅程-->
	<div class="trip">
		<div class="tripText">
			<h1>订制专属个性旅程</h1>
			<h3>您只决定出行，剩下的交给海豚哆哆</h3>	
		</div>
			
	</div>
	<div class="tripForm">
		<form action="">
			<input type="text" placeholder="姓名" />
			<input type="text" placeholder="姓名" />
			<input type="text" placeholder="姓名" />
			<input type="text" placeholder="姓名" />
			<input type="text" placeholder="姓名" />
			<input type="text" placeholder="姓名" />
			<input type="text" placeholder="姓名" />
			<input type="text" placeholder="姓名" />	
			<textarea placeholder="备注">
			</textarea>
			<input type="button" value="提交"  class="putMsg"/>
		</form>
	
	</div>
	<!--页脚--用ng-include引入-->
	<div ng-include="'./view/footer.html'">
		
	     
	</div>
	
</div>